movie/*
movie/raw/*
!movie/.gitkeep
!movie/raw/.gitkeep

GPS/*.txt

*.jpg
*.png
*.mp4
*.tcx
*.mat

src/drone_traj/*
!src/drone_traj/.gitkeep

src/export_fig/*
!src/export_fig/.gitkeep

src/GPS_traj/*
!src/GPS_traj/.gitkeeppi

!pic/DJI_0132.JPG
!pic/rotated.gif
